<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date: 'y-MM-dd' }}</p>
      </div>
    </header>
    <p>New York: {{ currentTemperaturs.newYork | temp:fromScale():toScale() }}</p>
    <p>Berlin: {{ currentTemperaturs.berlin | temp:fromScale():toScale() }}</p>
    <p>Paris: {{ currentTemperaturs.paris | temp:toScale() }}</p>
    <p>Chicago: {{ currentTemperaturs.chicago | temp:toScale() }}</p>
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of historicTemperatures; track $index) {
        <li (click)="onReset($index)">{{ temperature | temp:fromScale() }}</li>
      }
    </ul>
  </article>
</main>